<!-- HTML Form modified from ninjamonk on bootsnipp -->
<div class="container">
  <div class="row">
      <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
          <h2>Log In <small><small>You're almost there!</small></small></h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" ng-model="user.email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="1">
          </div>
          <div class="form-group">
            <input type="password" ng-model="user.password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2">
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-md-6"><input type="submit" ng-click="login(user)" value="Log In" class="btn btn-primary btn-block btn-lg" tabindex="3"></div>
          </div>
        </form>
    </div>
  </div>
</div>
